# GEMINI API
GEMINI_API_KEY=

# GROQ
GROQ_API_KEY=

# Supabase
SUPABASE_URL=
SUPABASE_KEY=
SUPABASE_DATABASE_URL=

# SMTP
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SENDER_EMAIL=

# Frontend
VITE_API_URL=
