fastapi
uvicorn[standard]
sqlmodel
groq
python-dotenv
pydantic-settings
sqlalchemy
psycopg2-binary
supabase
twilio
python-multipart
email-validator
python-jose[cryptography]
passlib[bcrypt]
bcrypt<4.1
apscheduler
